
/* may need absolute positioning to prevent snapping after deletion. Either that Or I'll make containers for each card and delete just the card*/      
.brainstormCard{
	max-width: 120px;
	background-color: #ccf5a4;
	border-style: solid;
	border-radius: 10px;
	border-color: #9bdb92;
	border-width: 1px;
	color: #037647;
	font-family: sans-serif;
	float: left;
	margin: auto;
	margin: 10px;
	padding: 10px 20px;
	text-shadow: none;
}

.card-selected {

}

.card-hover {
	background-color: #e7ffa5;
	color: #1c9d4a;
}

.red {
	background-color: red;
	width: 30%;
}

.blue {
	background-color: blue;
}

.yellow {
	background-color: yellow;
}

.close{
	float: right;
	background-color: red;
}

.areatwo {
	width: 75%;
	margin: auto;
	margin-bottom: 15px;
	float:left;
}

.trashcan{
	position: relative;
	left: 625px;
	top: -50px;
	width: 100px;
	height: 67px;
	background-color: #ffcb88;
	border-radius: 10px;
	border-color: #eb9054;
	border-width: 1px;
	border-style: solid;
}

#trash-label {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: 100px;
	height: 67px;
	font-size: 12px;
	color: #eb9054;
	text-shadow: none;
}
