html {
	font-family: 'Maven Pro', sans-serif;
}

#page {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#header-bg {
	background-color: #9bdb92;
	width: 105%;
	min-width: 1250px;
	position: absolute;
	height: 65px;
	left: -15px;
}

#header {
	position: relative;
	width: 1200px;
	height: 100px;
	left: 0px;
}

#logo {
	position: relative;
	top: 11px;
	left: 0px;
}

#header-links {
	position: relative;
	top: 30px;
	float: right;
}

.header-link {
	color: white !important;
	font-weight: normal !important;
	
	font-size: 16px;
	margin: 15px;
	font-family: 'Raleway', sans-serif;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 6px;
	border-style: solid;
	border-color: #6cc57d;
	text-decoration: none;
}

#logout { margin-left:100px; margin-right:30px; }

.header-link:hover {
	color: white;
	text-shadow:
    -1px -1px 0 #a2f282,
    1px -1px 0 #a2f282,
    -1px 1px 0 #a2f282,
    1px 1px 0 #a2f282; 
}

#header-underline {
	position: relative;
	top: 3px;
	left: 50px;
	border-width: 1px;
	border-style: solid;
	border-color: #6cc57d;
	width: 1100px;
}

#tabs {
	position: relative;
	width: 760px;
	top: 0px;
	height: 600px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding: 0px; 
    background: none; 
    border-width: 0px;
}

#tabs .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
	border-color: #9bdb92;
}

#tabs .ui-tabs-panel {
    border-width: 0px 1px 1px 1px;
	height: 540px;
	background: #ffffd8;
	border-color: #9bdb92;
}

#tabs .ui-state-default {
	background: #ebffd8;
	color: #037647;
	border-color: #9bdb92;
	margin-right: 10px;
	height: 36px;
}

#tabs .ui-state-active {
	background: #ffffd8;
	border-color: #9bdb92;
	height: 33px;
	top: 3px;
}

#tabs .ui-state-default a { color: #179276; }
#tabs .ui-state-hover a { color: #61cd53; }
#tabs .ui-state-active a { color: #eb8500; }




#sidebar {
	position: absolute;
	top: 0px;
	left: 800px;
	width: 400px;
	height: 600px;
	background-color: #EEEEEE;
}





