.rightbar{
	border-color: #86CCDD; 
	border-style: solid; 
	border-radius: 15px; 
	margin-right: 10px;"
}

.card-selected {
	background-color: yellow;
}

.card-hover {
	background-color: gray;
}

.class {
	border-radius: 15px; 
	width:100%;
	height:30%;
	background-color: red;
	border-color: blue;
	border-style: solid; 
}

.card {
	background-color: blue;
	border-color: grey;
	border-style: solid;
}